body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8c146;
  padding: 1rem;
  color: white;
}

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-items li {
  cursor: pointer;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:flex-start;
  padding: 2rem;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.search-container {
  margin: 20px;
  text-align: center;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}